
.wd-white-bg {
color:white;}

.wd-white-bg-color {
background-color:white;}

.wd-spacex {
bottom: 10px; left: 10px;
}

.wd-type-focus:focus {
    color: black;
}

.wd-image-height-width {
width:80px;
 height:80px;
}

.wd-margin-bottom {
margin-bottom:4px;
}

.wd-text-blk {
color:#222222;
}