body{
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
}

.wd-left-portion{
    width: fit-content;
    padding-right: 12px;
    margin-left: 16px;
}
.wd-right-portion{
    width: 506px;
    padding-right: 12px;
}

.wd-row{
    display: block;
}
.wd-no-decoration{
    text-decoration: none;
}

.blue{
    color: #3884c7;
}

.wd-postlist-item{
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px rgb(47, 51, 54);
    padding-bottom: 10px;
    padding-top: 10px;
}

.wd-author-tag{
    font-size: 15px;
    color: #a7a2a2;
}

.wd-avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-author-name {
    font-weight: bold;
    font-size: 15px;
}

.wd-ellipse{
    color: rgb(110, 118, 125);
    font-size: small;
    float: right;
}
.wd-content{
    font-size: 15px;
    padding-bottom: 12px;
}

.wd-footer{
    width: 506px;
}
.wd-reaction{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: #a7a2a2;
    padding-top: 12px;
    padding-inline-start: 0px;
}

.wd-body-title{
    font-weight: bold;
    padding: 12px;
}
.wd-body-content{
    padding: 12px;
    color: #a7a2a2;
}

.wd-item-banner {
    width: 504px;
    height: 264px;
    border-radius: 10px;
}

.wd-item-body{
    border: solid 1px rgb(110, 118, 125);
    border-radius: 10px;
    font-size: 15px;
    width: 506px;
}




