.wd-text-white {
color:white;
}
.wd-text-gray {
color:#d9d9d9;
}

.wd-color-grey {
color:gray;
}
.wd-text-black {
background-color:black;
}

.wd-border-style {
border-width:15px;
border-style:solid;
border-color:gray;
}